---
layout: default
title: Bookshelf
last_modified: 2020-07-19
permalink: /bookshelf/
---

<div class="row mb-3">
  <div class="col-12">
    <h2>
      Bookshelf
      <small class="text-muted">
        Updated on {% include functions/date.html date=page.last_modified %}
      </small>
    </h2> 
    <p class="lead">
      Over the past few years I have started to read various software engineering (and related) texts. I have begun to list some of the books I have read, along with other books that I am planning read. I'll try to keep this page as updated as possible.
    </p>
    
    <h4>Completed Reads</h4>   
    {%- assign books = site.data.bookshelf.books | where: "read", true %} 
    {%- for book in books %}
      {% include book.html book=book %}
    {%- endfor %}
    
    <br />
    
    <h4>Upcoming Reads</h4>
    {%- assign books = site.data.bookshelf.books | where: "read", false %} 
    {%- for book in books %}
      {% include book.html book=book %}
    {%- endfor %}  
  </div>
</div>
