<div class="header">
  <h1 class="brand-title">
    <a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}">{{ site.title }}</a>
  </h1>
  <h2 class="brand-tagline">{{ site.tagline }}</h2>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="pure-button button-rss" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
          <i class="fa fa-rss" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="pure-button button-linkedin" href="{{ site.linkedin }}">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="pure-button button-twitter" href="{{ site.twitter }}">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="pure-button button-github" href="{{ site.github }}">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>