<div class="post mb-5">
  <!-- Title -->
  <h1 class="post-title">
    {%- if include.type == 'post' %}
      {{ include.post.title }}
    {%- else %}
      <a href="{{ include.post.url | absolute_url }}">
        {{ include.post.title }}
      </a>
    {%- endif %}
  </h1>

  <!-- Published Date -->
  <span class="post-date">
    {% include functions/date.html date=include.post.date %}
  </span>

  <!-- Content -->
  {% if include.type == 'post' %}
    {{ content }}
  {% else %}
    {{ include.post.excerpt }}
  {% endif %}
</div>