//
// Footer
//

.footer {
  font-size: .875rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;

  a {
    font-weight: 600;
  }

  .footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
  
    li {
      display: inline-block;
  
      + li {
        margin-left: 1rem;
      }

      a {
        color: $gray-700;
      }
    }
  }  
}
