// Body resets
//
// Update the foundational and global aspects of the page.

@import "variables";
@import "typography";
@import "navbar";
@import "subnav";
@import "footer";
@import "post";
@import "pagination";
@import "bookshelf";


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

// Container
//
// Center the page content.

.main-wrapper {
  max-width: 840px;

  @media (min-width: 40em) {
    font-size: 18px;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .no-js & {
    display: none;
  }

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  &.embed-responsive-16by9 {
    padding-bottom: 56.25%;
  }
}

iframe[data-url^="https://jsbin.com"] {
  border-color: rgba(0,0,0,.1) !important;
}

@media (min-width: 1200px) {
  .jsbin-wide {
    margin-left: -226px;
    margin-right: -226px;
  }
}

.small, small {
    font-size: 70%;
}
